{
    "openapi": "3.0.3",
    "info": {
        "title": "Connectix API",
        "version": "1.2.0",
        "description": "Connectix is a Bulgarian messaging platform for online shops: SMS, Viber and Noti messages from approved templates, fallback flows (Viber first, SMS if undelivered), one-time passwords, a shared phone blacklist, TrustCheck (cash-on-delivery risk rating of a shopper) and courier shipment tracking with webhooks.\n\n## Authentication\nEvery request is authenticated with an application token sent in the `Authorization` header as the raw token value (`Authorization: <token>`); the `Bearer <token>` form is also accepted. Each application has two tokens: the **sandbox token** for `https://api-sandbox.connectix.bg` and the production token for the production host. Tokens are found in the console under Development. A wrong or mismatched token answers **401**.\n\n## Sandbox\nThis document describes the sandbox host. Sending endpoints deliver nothing there: delivery is simulated, prices are `0.0000`, balance and contract checks are skipped, and status webhooks are still posted. Every other endpoint operates on the application's real data (templates, integrations, blacklist, shipments), so use the sandbox for exercising the message and OTP flows only. See `x-connectix-agent.sandbox` on each operation.\n\n## Conventions\n- Send `Content-Type: application/json` and `Accept: application/json` on every request; without the `Accept` header unexpected errors are returned as HTML.\n- Phone numbers are in **E.164** format (`+359881234567`) and must be mobile numbers.\n- Message and OTP routes reject unknown body fields (422 `This field was not expected.`); integration routes answer 400; the other routes ignore them.\n- Timestamps are RFC 3339 with a timezone offset.\n- Money amounts are decimal strings with four decimals in EUR.\n- Every authenticated response carries `X-RateLimit-Remaining` (requests left in the current minute for the application); when the budget is spent the API answers **429** with `Retry-After`.\n\n## Errors\nNon-2xx responses are JSON: usually a plain string with the reason, sometimes an object with an `error` code, and for 422 a map of field path to message. Codes that need a human: **402** (insufficient funds - top up the account) and **451** (no signed contract for the channel - sign it in the console). **403** `access_restricted` means staff disabled the resource for the application. **406** means traffic is suspended or no sender ID exists for the recipient country. **502** means the request could not be processed (unparsable phone, country not enabled, provider unavailable).\n\n## Webhooks\nDelivery statuses, replies, template changes, blacklist changes and tracking events are pushed as HTTP POST requests to URLs you register with `registerIntegrationHook` (or pass per message as `callbackUrl`/`inboundUrl`). Payloads are documented under `x-webhooks`. Deliveries to integration hooks are signed (`X-Connectix-Signature`), carry a unique `eventId`, and are retried with back-off for about 32 hours; see any `x-webhooks` entry for the exact contract.\n\n## Idempotency and references\nSend endpoints accept an `Idempotency-Key` header (safe retries: the same key returns the stored answer, nothing is sent twice) and an optional `reference` in the body (your order or event id, echoed in the answer and in the webhooks). `GET /messages/{id}` and `GET /messages` read messages back.",
        "contact": {
            "name": "Connectix",
            "url": "https://connectix.bg"
        },
        "license": {
            "name": "Connectix Terms of Service",
            "url": "https://connectix.bg/terms"
        }
    },
    "servers": [
        {
            "url": "https://api-sandbox.connectix.bg",
            "description": "Sandbox"
        }
    ],
    "security": [
        {
            "token": []
        }
    ],
    "tags": [
        {
            "name": "Templates",
            "description": "Approved message templates of the company; every message is sent from one."
        },
        {
            "name": "Messages",
            "description": "Send SMS, Viber and Noti messages, fallback flows and Viber documents."
        },
        {
            "name": "OTP",
            "description": "One-time passwords over SMS: send, verify, resend."
        },
        {
            "name": "Integrations",
            "description": "Integrations group the traffic of one external system and own the webhook hooks."
        },
        {
            "name": "Blacklist",
            "description": "Phones that must not be messaged; shared with the console and the stop/resume word automation."
        },
        {
            "name": "TrustCheck",
            "description": "Cash-on-delivery risk rating of a shopper, computed from tracked shipments."
        },
        {
            "name": "Tracking",
            "description": "Register courier shipments so Connectix tracks them and posts tracking webhooks."
        },
        {
            "name": "Account",
            "description": "Information about the authenticated application and reference data."
        }
    ],
    "paths": {
        "/templates": {
            "get": {
                "tags": [
                    "Templates"
                ],
                "summary": "List message templates",
                "description": "Returns every template of the company (all channels, all statuses). Use it to find the `id` of an **approved** template before calling `sendMessage`; the template determines the channel, the message type and which `{{ placeholder }}` parameters must be supplied. Templates are created and approved by humans in the console - there is no API to create them.\n\nAuthenticate with the application token in the `Authorization` header: on `https://api-sandbox.connectix.bg` use the application's **sandbox token**; the production host uses the production token of the same application.",
                "operationId": "listTemplates",
                "responses": {
                    "200": {
                        "description": "Templates of the company.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Template"
                                    }
                                },
                                "example": [
                                    {
                                        "id": "3644d7ac-2a95-4068-863e-6352ed78d667",
                                        "media": null,
                                        "layout": "button",
                                        "name": "Order shipped",
                                        "channel": "viber",
                                        "text": "Your order #{{ order_id }} has been shipped.",
                                        "buttonLabel": "Track order",
                                        "buttonUrl": "https://shop.example.com/orders/{{ order_id }}",
                                        "status": "approved"
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "x-connectix-agent": {
                    "product": "sms",
                    "sandbox": "Same route on both hosts. With the sandbox token it operates on the application's real data (nothing is mocked).",
                    "humanOnly": false
                }
            }
        },
        "/messages": {
            "post": {
                "tags": [
                    "Messages"
                ],
                "summary": "Send a message from a template",
                "description": "Sends one SMS, Viber or Noti message to one recipient using an approved template. The response is returned as soon as the message is accepted (`status: received`); delivery happens asynchronously and is reported through the `callback` webhook (`callbackUrl` or integration hooks). Replies arrive on the `inbound` webhook.\n\nPhone numbers must be in E.164 format. Authenticate with the application token in the `Authorization` header: on `https://api-sandbox.connectix.bg` use the application's **sandbox token**; the production host uses the production token of the same application.\n\n**402** means the account balance cannot cover the message price (`Insufficient funds.`) - top up the account before retrying. **451** means the company has not signed the contract for the channel the template uses (`There is no signed contract for channel \"viber\"`) - a human must sign it in the console; retrying does not help.\n\nSend an `Idempotency-Key` header (a fresh UUID per logical send) so a network timeout can be retried without a second message; the repeat returns the stored answer with `Idempotent-Replayed: true`.",
                "operationId": "sendMessage",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IntegrationQuery"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendMessageRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Message accepted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Message"
                                },
                                "example": {
                                    "id": "8b2f1c0e-5d3a-4e7b-9f21-0c6a7d4e5b12",
                                    "type": "transactional",
                                    "phone": "+359881234567",
                                    "message": {
                                        "text": "Your order #10422 has been shipped.",
                                        "button": {
                                            "label": "Track order",
                                            "url": "https://shop.example.com/orders/10422"
                                        }
                                    },
                                    "price": "0.0550",
                                    "parts": 1,
                                    "channel": "viber",
                                    "status": "received",
                                    "ttl": 7200,
                                    "callbackUrl": "https://shop.example.com/webhooks/connectix/status",
                                    "inboundUrl": "https://shop.example.com/webhooks/connectix/inbound",
                                    "createdAt": "2026-09-20T10:15:30+03:00",
                                    "reference": null
                                }
                            }
                        },
                        "headers": {
                            "Idempotent-Replayed": {
                                "$ref": "#/components/headers/Idempotent-Replayed"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "402": {
                        "$ref": "#/components/responses/PaymentRequired"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "451": {
                        "$ref": "#/components/responses/UnavailableForLegalReasons"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    }
                },
                "callbacks": {
                    "messageStatus": {
                        "$ref": "#/components/callbacks/MessageStatus"
                    },
                    "inboundMessage": {
                        "$ref": "#/components/callbacks/InboundMessage"
                    }
                },
                "x-connectix-agent": {
                    "product": "sms",
                    "sandbox": "Sandbox host accepts the same payload and delivers nothing: delivery is simulated (each message ends as `delivered` or `undelivered` at random), price is always `0.0000`, balance and contract checks are skipped, a status webhook is posted to `callbackUrl` about 5 seconds later and a simulated inbound reply is posted to `inboundUrl` about 15 seconds after a delivered Viber message. The sandbox only ever calls `callbackUrl`/`inboundUrl`, never the integration's hooks.",
                    "humanOnly": false
                }
            },
            "get": {
                "tags": [
                    "Messages"
                ],
                "summary": "List messages",
                "description": "Returns the application's messages created inside a time window, newest first, in pages. Use it to reconcile your records when a `callback` webhook was missed, or to find a message by `reference`.\n\nThe window is `[from, to]` on `createdAt`, at most 7 days wide; without `from`/`to` it is the last 24 hours. Pages are cursor-based: repeat the same query with the `next` value from the previous answer until it is `null`. Items are the same shape as the `sendMessage` answer plus `updatedAt`.\n\nAuthenticate with the application token in the `Authorization` header: on `https://api-sandbox.connectix.bg` use the application's **sandbox token**; the production host uses the production token of the same application.",
                "operationId": "listMessages",
                "parameters": [
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Start of the window (inclusive): an RFC 3339 date-time or a `YYYY-MM-DD` date. Default: 24 hours before `to`."
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "End of the window (inclusive): an RFC 3339 date-time or a `YYYY-MM-DD` date. Default: now."
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/MessageStatus"
                        },
                        "description": "Only messages currently in this status."
                    },
                    {
                        "name": "channel",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/Channel"
                        },
                        "description": "Only messages sent through this channel."
                    },
                    {
                        "name": "reference",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "maxLength": 128
                        },
                        "description": "Only messages created with exactly this `reference`."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100,
                            "default": 50
                        },
                        "description": "Page size."
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The `next` value of the previous page. The other query parameters must stay the same."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A page of messages.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessagePage"
                                },
                                "example": {
                                    "items": [
                                        {
                                            "id": "8b2f1c0e-5d3a-4e7b-9f21-0c6a7d4e5b12",
                                            "type": "transactional",
                                            "phone": "+359881234567",
                                            "message": {
                                                "text": "Your order 1234 was shipped."
                                            },
                                            "price": "0.0000",
                                            "parts": 1,
                                            "channel": "viber",
                                            "status": "delivered",
                                            "ttl": 7200,
                                            "callbackUrl": null,
                                            "reference": "order-1234-shipped",
                                            "createdAt": "2026-09-22T10:15:30+03:00",
                                            "inboundUrl": null,
                                            "updatedAt": "2026-09-22T10:15:41+03:00"
                                        }
                                    ],
                                    "next": null
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "A query parameter is invalid: unknown status or channel, a window wider than 7 days, `from` after `to`, a bad date, limit outside 1-100, or a cursor that was not issued by this endpoint. The body is the reason as a string.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                },
                                "example": "The window between from and to may span at most 7 days."
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "x-connectix-agent": {
                    "product": "sms",
                    "sandbox": "Lists the sandbox messages of the application (the ones sent to the sandbox host), with the simulated statuses.",
                    "humanOnly": false
                }
            }
        },
        "/messages/{id}": {
            "get": {
                "tags": [
                    "Messages"
                ],
                "summary": "Get a message",
                "description": "Returns one message of the application by its `id` (the UUID from the `sendMessage` answer and from the webhooks) with its current status. The reliable way to catch up after a missed `callback` webhook.\n\nAuthenticate with the application token in the `Authorization` header: on `https://api-sandbox.connectix.bg` use the application's **sandbox token**; the production host uses the production token of the same application.",
                "operationId": "getMessage",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "Message ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The message.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Message"
                                },
                                "example": {
                                    "id": "8b2f1c0e-5d3a-4e7b-9f21-0c6a7d4e5b12",
                                    "type": "transactional",
                                    "phone": "+359881234567",
                                    "message": {
                                        "text": "Your order 1234 was shipped."
                                    },
                                    "price": "0.0000",
                                    "parts": 1,
                                    "channel": "viber",
                                    "status": "delivered",
                                    "ttl": 7200,
                                    "callbackUrl": null,
                                    "reference": "order-1234-shipped",
                                    "createdAt": "2026-09-22T10:15:30+03:00",
                                    "inboundUrl": null,
                                    "updatedAt": "2026-09-22T10:15:41+03:00"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "404": {
                        "description": "No message with this id belongs to the application.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                },
                                "example": "Message not found."
                            }
                        }
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "x-connectix-agent": {
                    "product": "sms",
                    "sandbox": "Reads a sandbox message of the application.",
                    "humanOnly": false
                }
            }
        },
        "/messages/fallback": {
            "post": {
                "tags": [
                    "Messages"
                ],
                "summary": "Send a message with fallback steps",
                "description": "Sends a multi-step flow to one recipient: the first step is sent immediately and each following step is sent only if the previous one ends as `undelivered` (for example Viber first, SMS if the recipient is not on Viber). Steps are ordered by `position` and the TTL of a step bounds how long the next step waits. Every step message carries the same `fallbackId` in its `callback` webhooks.\n\nPhone numbers must be in E.164 format. Authenticate with the application token in the `Authorization` header: on `https://api-sandbox.connectix.bg` use the application's **sandbox token**; the production host uses the production token of the same application.\n\n**402** means the account balance cannot cover the message price (`Insufficient funds.`) - top up the account before retrying. **451** means the company has not signed the contract for the channel the template uses (`There is no signed contract for channel \"viber\"`) - a human must sign it in the console; retrying does not help.\n\nSend an `Idempotency-Key` header (a fresh UUID per logical send) so a network timeout can be retried without a second message; the repeat returns the stored answer with `Idempotent-Replayed: true`.",
                "operationId": "sendFallbackMessage",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IntegrationQuery"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendFallbackRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Flow accepted; contains the first step message.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FallbackResponse"
                                },
                                "example": {
                                    "id": "a1c3e5f7-9b2d-4f6e-8a0c-1d3e5f7a9b2c",
                                    "flow": [
                                        {
                                            "id": "8b2f1c0e-5d3a-4e7b-9f21-0c6a7d4e5b12",
                                            "type": "transactional",
                                            "phone": "+359881234567",
                                            "message": {
                                                "text": "Your order #10422 has been shipped.",
                                                "button": {
                                                    "label": "Track order",
                                                    "url": "https://shop.example.com/orders/10422"
                                                }
                                            },
                                            "price": "0.0550",
                                            "parts": 1,
                                            "channel": "viber",
                                            "status": "received",
                                            "ttl": 7200,
                                            "callbackUrl": "https://shop.example.com/webhooks/connectix/status",
                                            "inboundUrl": "https://shop.example.com/webhooks/connectix/inbound",
                                            "createdAt": "2026-09-20T10:15:30+03:00",
                                            "position": 1,
                                            "fallbackId": "a1c3e5f7-9b2d-4f6e-8a0c-1d3e5f7a9b2c",
                                            "reference": null
                                        }
                                    ],
                                    "createdAt": "2026-09-20T10:15:30+03:00"
                                }
                            }
                        },
                        "headers": {
                            "Idempotent-Replayed": {
                                "$ref": "#/components/headers/Idempotent-Replayed"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "402": {
                        "$ref": "#/components/responses/PaymentRequired"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "451": {
                        "$ref": "#/components/responses/UnavailableForLegalReasons"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    }
                },
                "callbacks": {
                    "messageStatus": {
                        "$ref": "#/components/callbacks/MessageStatus"
                    },
                    "inboundMessage": {
                        "$ref": "#/components/callbacks/InboundMessage"
                    }
                },
                "x-connectix-agent": {
                    "product": "sms",
                    "sandbox": "Sandbox host accepts the same payload and delivers nothing: delivery is simulated (each message ends as `delivered` or `undelivered` at random), price is always `0.0000`, balance and contract checks are skipped, a status webhook is posted to `callbackUrl` about 5 seconds later and a simulated inbound reply is posted to `inboundUrl` about 15 seconds after a delivered Viber message. The sandbox only ever calls `callbackUrl`/`inboundUrl`, never the integration's hooks.",
                    "humanOnly": false
                }
            }
        },
        "/messages/media": {
            "post": {
                "tags": [
                    "Messages"
                ],
                "summary": "Send a document over Viber",
                "description": "Sends a document (PDF, Office, text, spreadsheet) to one recipient over Viber without a template. Connectix downloads the file from `fileUrl`, so the URL must be publicly reachable. Delivery is reported through the `callback` webhook like any other message. Media messages are always typed `promotional` and the response carries `message.text: null` (the file name is not echoed). Because of the `promotional` type, `checkBlacklist` with `type=promotional` answers `yes` for any active blacklist entry regardless of `expire_at_for_transactional` - call it before sending.\n\nPhone numbers must be in E.164 format. Authenticate with the application token in the `Authorization` header: on `https://api-sandbox.connectix.bg` use the application's **sandbox token**; the production host uses the production token of the same application. This endpoint has no sandbox implementation yet: on `https://api-sandbox.connectix.bg` it answers **404** `{\"error\": \"not_available_on_sandbox\"}` and sends nothing. Exercise the sandbox with `sendMessage` instead; media sends work on the production host after go-live.\n\n**402** means the account balance cannot cover the message price (`Insufficient funds.`) - top up the account before retrying. **451** means the company has not signed the contract for the channel the template uses (`There is no signed contract for channel \"viber\"`) - a human must sign it in the console; retrying does not help.\n\nSend an `Idempotency-Key` header (a fresh UUID per logical send) so a network timeout can be retried without a second message; the repeat returns the stored answer with `Idempotent-Replayed: true`.",
                "operationId": "sendMediaMessage",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IntegrationQuery"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendMediaRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Message accepted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Message"
                                },
                                "example": {
                                    "id": "8b2f1c0e-5d3a-4e7b-9f21-0c6a7d4e5b12",
                                    "type": "promotional",
                                    "phone": "+359881234567",
                                    "message": {
                                        "text": null
                                    },
                                    "price": "0.0550",
                                    "parts": 1,
                                    "channel": "viber",
                                    "status": "received",
                                    "ttl": 7200,
                                    "callbackUrl": "https://shop.example.com/webhooks/connectix/status",
                                    "inboundUrl": "https://shop.example.com/webhooks/connectix/inbound",
                                    "createdAt": "2026-09-20T10:15:30+03:00",
                                    "reference": null
                                }
                            }
                        },
                        "headers": {
                            "Idempotent-Replayed": {
                                "$ref": "#/components/headers/Idempotent-Replayed"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "402": {
                        "$ref": "#/components/responses/PaymentRequired"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "description": "Sandbox host only: media messages have no sandbox implementation. Nothing was sent or charged; use `sendMessage` to exercise the sandbox.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorObject"
                                },
                                "example": {
                                    "error": "not_available_on_sandbox",
                                    "message": "Media messages have no sandbox implementation: nothing was sent. Use sendMessage with a template to exercise the sandbox; media sends become available on the production host after go-live."
                                }
                            }
                        }
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    },
                    "415": {
                        "$ref": "#/components/responses/UnsupportedMediaType"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "451": {
                        "$ref": "#/components/responses/UnavailableForLegalReasons"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    }
                },
                "callbacks": {
                    "messageStatus": {
                        "$ref": "#/components/callbacks/MessageStatus"
                    }
                },
                "x-connectix-agent": {
                    "product": "viber",
                    "sandbox": "Not implemented on the sandbox host: it answers 404 `{\"error\": \"not_available_on_sandbox\"}` and nothing is sent or charged. Available on production only after go-live.",
                    "humanOnly": false
                }
            }
        },
        "/integration/register": {
            "post": {
                "tags": [
                    "Integrations"
                ],
                "summary": "Register an integration",
                "description": "Creates (or re-activates) an integration of the application and returns its `token`. An integration groups the messages and shipments created by one external system and owns the webhook hooks registered with `registerIntegrationHook`. Pass the token as the `integration` query parameter when sending messages and shipments. Registering again with the same `secret` returns the existing integration.\n\nAuthenticate with the application token in the `Authorization` header: on `https://api-sandbox.connectix.bg` use the application's **sandbox token**; the production host uses the production token of the same application.",
                "operationId": "registerIntegration",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RegisterIntegrationRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Integration registered.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Integration"
                                },
                                "example": {
                                    "name": "Web shop",
                                    "token": "npu5K6DCMcsmLyDjLNpSkc8szq8iUSlY6Ga96vJjxsKOYWiAILbvQp9qXkKKGIfl"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "x-connectix-agent": {
                    "product": "account",
                    "sandbox": "Same route on both hosts. With the sandbox token it operates on the application's real data (nothing is mocked).",
                    "humanOnly": false
                }
            }
        },
        "/integration/unregister": {
            "post": {
                "tags": [
                    "Integrations"
                ],
                "summary": "Remove an integration",
                "description": "Deletes the integration identified by `token` and `secret`, together with all of its hooks. Messages already attributed to it are kept.\n\nAuthenticate with the application token in the `Authorization` header: on `https://api-sandbox.connectix.bg` use the application's **sandbox token**; the production host uses the production token of the same application.",
                "operationId": "unregisterIntegration",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UnregisterIntegrationRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Integration removed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkAnswer"
                                },
                                "example": "ok"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "x-connectix-agent": {
                    "product": "account",
                    "sandbox": "Same route on both hosts. With the sandbox token it operates on the application's real data (nothing is mocked).",
                    "humanOnly": false
                }
            }
        },
        "/integration/register/hook": {
            "post": {
                "tags": [
                    "Integrations"
                ],
                "summary": "Register a webhook hook on an integration",
                "description": "Subscribes a URL to one event type of the integration. Register one hook per `type` you need: `callback` (delivery status), `inbound` (replies), `template` (template changes), `tracking` (shipment events), `blacklist` (blacklist changes). Each hook receives HTTP POSTs with the JSON payload documented in the webhook definitions.\n\nAuthenticate with the application token in the `Authorization` header: on `https://api-sandbox.connectix.bg` use the application's **sandbox token**; the production host uses the production token of the same application.",
                "operationId": "registerIntegrationHook",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RegisterHookRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Hook registered.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Hook"
                                },
                                "example": {
                                    "id": "f4212b48-a763-42b8-8e43-0ed413255edd"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "x-connectix-agent": {
                    "product": "account",
                    "sandbox": "Same route on both hosts. With the sandbox token it operates on the application's real data (nothing is mocked).",
                    "humanOnly": false
                }
            }
        },
        "/integration/unregister/hook": {
            "post": {
                "tags": [
                    "Integrations"
                ],
                "summary": "Remove a webhook hook",
                "description": "Deletes a hook by the `id` returned at registration. The hook must belong to an integration of this application.\n\nAuthenticate with the application token in the `Authorization` header: on `https://api-sandbox.connectix.bg` use the application's **sandbox token**; the production host uses the production token of the same application.",
                "operationId": "unregisterIntegrationHook",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UnregisterHookRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Hook removed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkAnswer"
                                },
                                "example": "ok"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "x-connectix-agent": {
                    "product": "account",
                    "sandbox": "Same route on both hosts. With the sandbox token it operates on the application's real data (nothing is mocked).",
                    "humanOnly": false
                }
            }
        },
        "/blacklist": {
            "post": {
                "tags": [
                    "Blacklist"
                ],
                "summary": "Check whether a phone is blacklisted (deprecated alias)",
                "description": "Deprecated alias of `checkBlacklist` (`POST /blacklist/check`) with the same body and answer. Do not use it in new integrations; it is scheduled for removal on 2027-03-31.\n\nPhone numbers must be in E.164 format. Authenticate with the application token in the `Authorization` header: on `https://api-sandbox.connectix.bg` use the application's **sandbox token**; the production host uses the production token of the same application.",
                "operationId": "addToBlacklist",
                "deprecated": true,
                "x-sunset": "2027-03-31",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BlacklistCheckRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`yes` if blocked, `no` otherwise.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlacklistAnswer"
                                },
                                "example": "no"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    }
                },
                "x-connectix-agent": {
                    "product": "blacklist",
                    "sandbox": "Same route on both hosts. With the sandbox token it operates on the application's real data (nothing is mocked).",
                    "humanOnly": false
                }
            }
        },
        "/blacklist/check": {
            "post": {
                "tags": [
                    "Blacklist"
                ],
                "summary": "Check whether a phone is blacklisted",
                "description": "Answers `yes` when the phone must not receive a message of the given `type`. Entries can be added through `toggleBlacklist`, in the console, or automatically when a recipient replies with the application's stop word. Promotional messages are always blocked by an active entry; transactional ones only until `expire_at_for_transactional`. When the blacklist feature is disabled for the application the answer is always `no`.\n\nPhone numbers must be in E.164 format. Authenticate with the application token in the `Authorization` header: on `https://api-sandbox.connectix.bg` use the application's **sandbox token**; the production host uses the production token of the same application.",
                "operationId": "checkBlacklist",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BlacklistCheckRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`yes` if blocked, `no` otherwise.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlacklistAnswer"
                                },
                                "example": "no"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    }
                },
                "x-connectix-agent": {
                    "product": "blacklist",
                    "sandbox": "Same route on both hosts. With the sandbox token it operates on the application's real data (nothing is mocked).",
                    "humanOnly": false
                }
            }
        },
        "/blacklist/toggle": {
            "post": {
                "tags": [
                    "Blacklist"
                ],
                "summary": "Add, update or remove a phone in the blacklist",
                "description": "Creates or updates the blacklist entry for the phone. `active: true` blocks the number, `active: false` unblocks it; `permanent: true` keeps it blocked for transactional messages too; `global: true` makes the entry apply to every application of the company (their `checkBlacklist` answers `yes`) and announces the change to all of their `blacklist` hooks; otherwise it applies to this application only and only its `blacklist` hooks are notified.\n\nPhone numbers must be in E.164 format. Authenticate with the application token in the `Authorization` header: on `https://api-sandbox.connectix.bg` use the application's **sandbox token**; the production host uses the production token of the same application.",
                "operationId": "toggleBlacklist",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BlacklistToggleRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Current state of the entry.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlacklistEntry"
                                },
                                "example": {
                                    "id": "7d6c5b4a-3f2e-4d1c-8b0a-9f8e7d6c5b4a",
                                    "phone": "+359881234567",
                                    "active": true,
                                    "permanent": false,
                                    "global": false,
                                    "expire_at_for_transactional": "2026-09-27T10:15:30+03:00"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    }
                },
                "callbacks": {
                    "blacklistChanged": {
                        "$ref": "#/components/callbacks/BlacklistChanged"
                    }
                },
                "x-connectix-agent": {
                    "product": "blacklist",
                    "sandbox": "Same route on both hosts. With the sandbox token it operates on the application's real data (nothing is mocked).",
                    "humanOnly": false
                }
            }
        },
        "/shopper/check": {
            "post": {
                "tags": [
                    "TrustCheck"
                ],
                "summary": "Check the TrustCheck risk rating of a shopper",
                "description": "Returns the risk that the shopper behind the phone number refuses or does not collect a cash-on-delivery parcel, computed from the shipment history tracked by Connectix across merchants. Use it before confirming a COD order.\n\nTrustCheck requires automatic shipment tracking to be active for at least one courier profile and at least 10 tracked shipments per day; below 10 shipments/day for 7 consecutive days the service suspends and reactivates automatically once 10 shipments are reached in a day. 403 codes: `access_restricted` (disabled by staff), `trustcheck_no_tracking` (no courier profile with automatic tracking), `trustcheck_low_volume` (suspended by the volume rule).\n\nPhone numbers must be in E.164 format; an unparsable phone returns 400 here. Authenticate with the application token in the `Authorization` header: on `https://api-sandbox.connectix.bg` use the application's **sandbox token**; the production host uses the production token of the same application.",
                "operationId": "checkShopper",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ShopperCheckRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Risk rating.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RiskRating"
                                },
                                "example": "medium"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "x-connectix-agent": {
                    "product": "trustcheck",
                    "sandbox": "Same route on both hosts; returns the real rating and applies the same eligibility rules (nothing is mocked).",
                    "humanOnly": false
                }
            }
        },
        "/otp/send": {
            "post": {
                "tags": [
                    "OTP"
                ],
                "summary": "Send a one-time password",
                "description": "Generates a numeric code, sends it by SMS to the phone and returns the OTP `id` to use with `verifyOtp`. The code itself is never returned on production. Rate limited per phone and application (default 5 per hour, returns 429).\n\nPhone numbers must be in E.164 format. Authenticate with the application token in the `Authorization` header: on `https://api-sandbox.connectix.bg` use the application's **sandbox token**; the production host uses the production token of the same application.\n\n**402** means the account balance cannot cover the message price (`Insufficient funds.`) - top up the account before retrying.\n\nSend an `Idempotency-Key` header (a fresh UUID per logical send) so a network timeout can be retried without a second message; the repeat returns the stored answer with `Idempotent-Replayed: true`.",
                "operationId": "sendOtp",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OtpSendRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP issued and SMS queued.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Otp"
                                },
                                "example": {
                                    "id": "c9d8e7f6-a5b4-4c3d-9e2f-1a0b9c8d7e6f",
                                    "expiresAt": "2026-09-20T10:20:30+03:00",
                                    "maxAttempts": 3,
                                    "channel": "sms"
                                }
                            }
                        },
                        "headers": {
                            "Idempotent-Replayed": {
                                "$ref": "#/components/headers/Idempotent-Replayed"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "402": {
                        "$ref": "#/components/responses/PaymentRequired"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    }
                },
                "callbacks": {
                    "messageStatus": {
                        "$ref": "#/components/callbacks/MessageStatus"
                    }
                },
                "x-connectix-agent": {
                    "product": "otp",
                    "sandbox": "Sandbox host issues a real OTP record but sends no SMS; the response additionally contains `code` so the verify flow can be exercised end to end. The balance check is skipped (OTP has no contract check on either host). An unparsable phone returns 422 instead of 502.",
                    "humanOnly": false
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ]
            }
        },
        "/otp/verify": {
            "post": {
                "tags": [
                    "OTP"
                ],
                "summary": "Verify a one-time password",
                "description": "Checks the code the user entered against the OTP `id`. A wrong code returns **401** with `remainingAttempts`; once the attempts are exhausted every further call returns **403**; an expired or already verified OTP returns **410**. Successful verification is final - the OTP cannot be verified twice.\n\nAuthenticate with the application token in the `Authorization` header: on `https://api-sandbox.connectix.bg` use the application's **sandbox token**; the production host uses the production token of the same application.",
                "operationId": "verifyOtp",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OtpVerifyRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Code accepted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OtpVerified"
                                },
                                "example": {
                                    "verified": true,
                                    "verifiedAt": "2026-09-20T10:16:02+03:00"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Wrong code (`OtpRejected`), or missing/invalid application token (plain string).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/OtpRejected"
                                        },
                                        {
                                            "$ref": "#/components/schemas/Error"
                                        }
                                    ]
                                },
                                "example": {
                                    "verified": false,
                                    "remainingAttempts": 2
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "410": {
                        "$ref": "#/components/responses/Gone"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                },
                "x-connectix-agent": {
                    "product": "otp",
                    "sandbox": "Sandbox host works against OTPs issued on the sandbox host; nothing is sent.",
                    "humanOnly": false
                }
            }
        },
        "/otp/resend": {
            "post": {
                "tags": [
                    "OTP"
                ],
                "summary": "Re-issue a one-time password",
                "description": "Expires the OTP identified by `id`, generates a new code with the same length, attempts and TTL, sends it by SMS and returns the **new** OTP - verify with the new `id`. Counts against the same hourly rate limit as `sendOtp`.\n\nAuthenticate with the application token in the `Authorization` header: on `https://api-sandbox.connectix.bg` use the application's **sandbox token**; the production host uses the production token of the same application.\n\n**402** means the account balance cannot cover the message price (`Insufficient funds.`) - top up the account before retrying.",
                "operationId": "resendOtp",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OtpResendRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "New OTP issued.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Otp"
                                },
                                "example": {
                                    "id": "0e1d2c3b-4a59-4687-9c0d-1e2f3a4b5c6d",
                                    "expiresAt": "2026-09-20T10:20:30+03:00",
                                    "maxAttempts": 3,
                                    "channel": "sms"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "402": {
                        "$ref": "#/components/responses/PaymentRequired"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "406": {
                        "$ref": "#/components/responses/NotAcceptable"
                    },
                    "410": {
                        "$ref": "#/components/responses/Gone"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    }
                },
                "callbacks": {
                    "messageStatus": {
                        "$ref": "#/components/callbacks/MessageStatus"
                    }
                },
                "x-connectix-agent": {
                    "product": "otp",
                    "sandbox": "Sandbox host works against OTPs issued on the sandbox host; nothing is sent.",
                    "humanOnly": false
                }
            }
        },
        "/shipments": {
            "post": {
                "tags": [
                    "Tracking"
                ],
                "summary": "Register a shipment for tracking",
                "description": "Registers a courier shipment so Connectix tracks it, feeds TrustCheck and posts `tracking` webhooks on every state change. The courier is detected from the tracking number format. The shipment is attributed to the integration passed in `?integration=`. Re-registering an existing tracking number is idempotent. When the courier profile of the application has automatic shipment fetching enabled the shipment is not created here (it arrives automatically) but the call still answers `ok`.\n\nAuthenticate with the application token in the `Authorization` header: on `https://api-sandbox.connectix.bg` use the application's **sandbox token**; the production host uses the production token of the same application.",
                "operationId": "createShipment",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IntegrationQueryRequired"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateShipmentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Shipment registered (or already known).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkAnswer"
                                },
                                "example": "ok"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "502": {
                        "$ref": "#/components/responses/BadGateway"
                    }
                },
                "x-connectix-agent": {
                    "product": "tracking",
                    "sandbox": "Same route on both hosts. With the sandbox token it operates on the application's real data (nothing is mocked).",
                    "humanOnly": false
                }
            }
        },
        "/me": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Identify the application behind the token",
                "description": "Returns the name of the application the token belongs to. Use it to verify a token and the host you are talking to before doing anything else.\n\nAuthenticate with the application token in the `Authorization` header: on `https://api-sandbox.connectix.bg` use the application's **sandbox token**; the production host uses the production token of the same application.",
                "operationId": "getMe",
                "responses": {
                    "200": {
                        "description": "The authenticated application.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Me"
                                },
                                "example": {
                                    "name": "Web shop"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "x-connectix-agent": {
                    "product": "account",
                    "sandbox": null,
                    "humanOnly": false
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "token": {
                "type": "apiKey",
                "in": "header",
                "name": "Authorization",
                "description": "Application token sent as the raw value of the `Authorization` header (`Authorization: <token>`); `Bearer <token>` is also accepted. Use the sandbox token on `https://api-sandbox.connectix.bg`."
            }
        },
        "parameters": {
            "IntegrationQuery": {
                "name": "integration",
                "in": "query",
                "required": false,
                "description": "Integration token obtained from `registerIntegration`. When present, the message is attributed to that integration and its active `callback`/`inbound` hooks receive the status and reply webhooks - but only when the body has no `callbackUrl`/`inboundUrl`: a per-message URL always wins and the integration hooks are then not called.",
                "schema": {
                    "type": "string",
                    "minLength": 64,
                    "maxLength": 64
                },
                "example": "npu5K6DCMcsmLyDjLNpSkc8szq8iUSlY6Ga96vJjxsKOYWiAILbvQp9qXkKKGIfl"
            },
            "IntegrationQueryRequired": {
                "name": "integration",
                "in": "query",
                "required": true,
                "description": "Integration token obtained from `registerIntegration`. The shipment is attributed to that integration and its `tracking` hooks receive the events. (A deprecated `token` body field is still accepted instead.)",
                "schema": {
                    "type": "string",
                    "minLength": 64,
                    "maxLength": 64
                },
                "example": "npu5K6DCMcsmLyDjLNpSkc8szq8iUSlY6Ga96vJjxsKOYWiAILbvQp9qXkKKGIfl"
            },
            "IdempotencyKey": {
                "name": "Idempotency-Key",
                "in": "header",
                "required": false,
                "schema": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                },
                "description": "Makes a retry of this request safe. The first request with a key runs normally and its 2xx answer is stored for 24 hours; every repeat of the same key from the same application on the same host returns that stored answer unchanged, with `Idempotent-Replayed: true`, and nothing is sent again. A repeat with a different body, path or host answers **422**; a repeat while the first request is still running answers **409** `in_progress` (retry after `retry_after` seconds). Non-2xx answers are not stored, so the same key can be retried after the request is fixed. Use a fresh UUID per logical send."
            }
        },
        "schemas": {
            "Error": {
                "description": "Every non-2xx response is JSON. Most errors are a plain JSON string with the reason. Structured errors are an object with an `error` code. Validation errors (422) are a map of field path to message.",
                "anyOf": [
                    {
                        "$ref": "#/components/schemas/ErrorMessage"
                    },
                    {
                        "$ref": "#/components/schemas/ErrorObject"
                    },
                    {
                        "$ref": "#/components/schemas/ValidationErrors"
                    },
                    {
                        "$ref": "#/components/schemas/RateLimitError"
                    }
                ]
            },
            "ErrorMessage": {
                "type": "string",
                "description": "Human-readable reason, e.g. `\"Insufficient funds.\"` or `\"This action needs a valid token!\"`.",
                "example": "Insufficient funds."
            },
            "ErrorObject": {
                "type": "object",
                "description": "Structured error. `error` is a stable code: `access_restricted` (staff disabled this resource for the application), `trustcheck_no_tracking`, `trustcheck_low_volume`, `unsupported_media_type` (body is not JSON), `not_available_on_sandbox` (the sandbox host has no implementation of `sendMediaMessage`), `ai_tools_must_use_sandbox` (the production host refuses AI coding tools on send/OTP routes - develop against the sandbox), or a JSON parsing problem such as `Invalid JSON: Syntax error`.",
                "required": [
                    "error"
                ],
                "properties": {
                    "error": {
                        "type": "string",
                        "description": "Error code or short reason."
                    },
                    "message": {
                        "type": "string",
                        "description": "Human-readable explanation."
                    },
                    "source": {
                        "type": "string",
                        "description": "API resource the restriction applies to (only for `access_restricted`)."
                    }
                },
                "additionalProperties": false,
                "example": {
                    "error": "access_restricted",
                    "source": "messages",
                    "message": "Access to this API resource is disabled for your application. Contact support."
                }
            },
            "ValidationErrors": {
                "type": "object",
                "description": "Field path to message. Paths use Symfony bracket notation: `[phone]`, `[contact][firstName]`, `[flow][0][template]`. Typical messages: `This field is missing.`, `This field was not expected.`, `This value is not a valid mobile number.` One exception: the sandbox OTP routes report an unparsable phone under the bare key `phone` (`{\"phone\": \"Could not parse the phone number.\"}`).",
                "additionalProperties": {
                    "type": "string"
                },
                "example": {
                    "[phone]": "This value is not a valid mobile number.",
                    "[template]": "This field is missing."
                }
            },
            "RateLimitError": {
                "type": "object",
                "description": "Per-application request budget exhausted (HTTP 429). Wait `retry_after` seconds (also sent as the `Retry-After` header) before retrying.",
                "required": [
                    "message",
                    "retry_after"
                ],
                "properties": {
                    "message": {
                        "type": "string",
                        "enum": [
                            "rate_limited"
                        ]
                    },
                    "retry_after": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Seconds until the current 60-second window resets."
                    }
                },
                "additionalProperties": false,
                "example": {
                    "message": "rate_limited",
                    "retry_after": 23
                }
            },
            "Channel": {
                "type": "string",
                "enum": [
                    "sms",
                    "viber",
                    "noti"
                ],
                "description": "Messaging channel. `noti` is the Connectix in-app notification channel."
            },
            "MessageType": {
                "type": "string",
                "enum": [
                    "transactional",
                    "promotional"
                ],
                "description": "Message type; it follows the template/service configuration. Promotional messages always respect the blacklist."
            },
            "MessageStatus": {
                "type": "string",
                "enum": [
                    "pending",
                    "received",
                    "scheduled",
                    "processing",
                    "sent",
                    "delivered",
                    "seen",
                    "undelivered",
                    "failed",
                    "could_not_be_sent",
                    "not_used"
                ],
                "description": "Lifecycle: `received` (accepted by the API) -> `processing` -> `sent` -> `delivered` -> `seen` (Viber/Noti only). Terminal failures: `undelivered` (expired, not a Viber/Noti user, opted out), `failed`, `could_not_be_sent`. `scheduled` means the queue was unavailable and the message will be picked up by the scheduler."
            },
            "Contact": {
                "type": "object",
                "description": "Optional contact record that is created or updated in the address book when the message is accepted. `firstName` and `lastName` are also injected into the template parameters as `first_name`/`last_name`.",
                "required": [
                    "firstName"
                ],
                "properties": {
                    "firstName": {
                        "type": "string",
                        "description": "Given name. Required when `contact` is present."
                    },
                    "lastName": {
                        "type": "string",
                        "description": "Family name."
                    },
                    "groups": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Contact group names the contact is added to."
                    },
                    "addGroupIfMissing": {
                        "type": "boolean",
                        "description": "Create groups from `groups` that do not exist yet."
                    },
                    "parameters": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Free-form custom fields stored on the contact."
                    }
                },
                "additionalProperties": false,
                "example": {
                    "firstName": "Ivan",
                    "lastName": "Ivanov",
                    "groups": [
                        "Customers"
                    ],
                    "addGroupIfMissing": true,
                    "parameters": {
                        "customerId": "10422"
                    }
                }
            },
            "SendMessageRequest": {
                "type": "object",
                "required": [
                    "phone",
                    "template"
                ],
                "properties": {
                    "phone": {
                        "type": "string",
                        "description": "Recipient mobile number. Send it in E.164 format (`+359881234567`). National formats are parsed against the countries enabled for the application, but E.164 is the only format that is guaranteed to work. Landline numbers are rejected with 422.",
                        "example": "+359881234567"
                    },
                    "template": {
                        "type": "string",
                        "format": "uuid",
                        "description": "UUID of an **approved** template from `listTemplates`. The template decides the channel and the message type."
                    },
                    "parameters": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Values for the `{{ placeholder }}` variables used in the template text, button label and button URL."
                    },
                    "ttl": {
                        "type": "integer",
                        "minimum": 60,
                        "maximum": 86400,
                        "description": "Seconds the provider may keep trying to deliver the message. Defaults to 7200 for Viber/Noti and 43200 for SMS. In a fallback flow the TTL of a step bounds how long the next step waits."
                    },
                    "callbackUrl": {
                        "type": "string",
                        "format": "uri",
                        "description": "HTTP(S) URL with a public TLD (HTTPS recommended) that receives the `callback` (delivery status) webhook for this message. Must be publicly reachable: hosts that resolve to private, loopback, link-local or metadata addresses are refused with 422 (`The URL must be a public http(s) address.`)."
                    },
                    "inboundUrl": {
                        "type": "string",
                        "format": "uri",
                        "description": "HTTP(S) URL with a public TLD (HTTPS recommended) that receives the `inbound` (reply) webhook for this message. Only Viber and Noti recipients can reply. Must be publicly reachable: hosts that resolve to private, loopback, link-local or metadata addresses are refused with 422 (`The URL must be a public http(s) address.`)."
                    },
                    "contact": {
                        "$ref": "#/components/schemas/Contact"
                    },
                    "reference": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 128,
                        "pattern": "^[A-Za-z0-9._:/-]+$",
                        "description": "Your own reference for this message (an order id, an event id...). Echoed as `reference` in the answer and in every `callback`/`inbound` webhook of the message, so you can match them without keeping a mapping table. Free to repeat across messages; use the `Idempotency-Key` header, not the reference, to make a retry safe."
                    }
                },
                "additionalProperties": false,
                "example": {
                    "phone": "+359881234567",
                    "template": "3644d7ac-2a95-4068-863e-6352ed78d667",
                    "parameters": {
                        "order_id": "10422"
                    },
                    "callbackUrl": "https://shop.example.com/webhooks/connectix/status",
                    "inboundUrl": "https://shop.example.com/webhooks/connectix/inbound",
                    "contact": {
                        "firstName": "Ivan",
                        "lastName": "Ivanov",
                        "groups": [
                            "Customers"
                        ],
                        "addGroupIfMissing": true,
                        "parameters": {
                            "customerId": "10422"
                        }
                    }
                }
            },
            "FallbackStep": {
                "type": "object",
                "description": "One step of a fallback flow. Steps run in `position` order; the next step is sent only when the previous one ends as `undelivered`.",
                "required": [
                    "template",
                    "position"
                ],
                "properties": {
                    "template": {
                        "type": "string",
                        "format": "uuid",
                        "description": "UUID of an approved template."
                    },
                    "position": {
                        "type": "integer",
                        "minimum": 1,
                        "description": "Order of the step, starting at 1."
                    },
                    "parameters": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Template parameters for this step."
                    },
                    "ttl": {
                        "type": "integer",
                        "minimum": 60,
                        "maximum": 86400,
                        "description": "Seconds the provider may keep trying to deliver the message. Defaults to 7200 for Viber/Noti and 43200 for SMS. In a fallback flow the TTL of a step bounds how long the next step waits."
                    },
                    "callbackUrl": {
                        "type": "string",
                        "format": "uri",
                        "description": "HTTP(S) URL with a public TLD (HTTPS recommended) that receives the `callback` (delivery status) webhook for this message. Must be publicly reachable (see `sendMessage`)."
                    },
                    "inboundUrl": {
                        "type": "string",
                        "format": "uri",
                        "description": "HTTP(S) URL with a public TLD (HTTPS recommended) that receives the `inbound` (reply) webhook for this message. Only Viber and Noti recipients can reply. Must be publicly reachable (see `sendMessage`)."
                    }
                },
                "additionalProperties": false
            },
            "SendFallbackRequest": {
                "type": "object",
                "required": [
                    "phone",
                    "flow"
                ],
                "properties": {
                    "phone": {
                        "type": "string",
                        "description": "Recipient mobile number. Send it in E.164 format (`+359881234567`). National formats are parsed against the countries enabled for the application, but E.164 is the only format that is guaranteed to work. Landline numbers are rejected with 422.",
                        "example": "+359881234567"
                    },
                    "contact": {
                        "$ref": "#/components/schemas/Contact"
                    },
                    "flow": {
                        "type": "array",
                        "minItems": 2,
                        "items": {
                            "$ref": "#/components/schemas/FallbackStep"
                        },
                        "description": "At least two steps, typically Viber first and SMS second."
                    },
                    "reference": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 128,
                        "pattern": "^[A-Za-z0-9._:/-]+$",
                        "description": "Your own reference for the whole flow. Every step message answers and calls back with it."
                    }
                },
                "additionalProperties": false,
                "example": {
                    "phone": "+359881234567",
                    "flow": [
                        {
                            "template": "3644d7ac-2a95-4068-863e-6352ed78d667",
                            "position": 1,
                            "parameters": {
                                "order_id": "10422"
                            },
                            "ttl": 3600
                        },
                        {
                            "template": "cdea4406-ae6c-4cbc-9571-40882795d17e",
                            "position": 2,
                            "parameters": {
                                "order_id": "10422"
                            }
                        }
                    ]
                }
            },
            "SendMediaRequest": {
                "type": "object",
                "description": "Sends a document over Viber. The file is fetched from `fileUrl` by Connectix, so the URL must be publicly reachable.",
                "required": [
                    "phone",
                    "fileUrl",
                    "fileType",
                    "fileName"
                ],
                "properties": {
                    "phone": {
                        "type": "string",
                        "description": "Recipient mobile number. Send it in E.164 format (`+359881234567`). National formats are parsed against the countries enabled for the application, but E.164 is the only format that is guaranteed to work. Landline numbers are rejected with 422.",
                        "example": "+359881234567"
                    },
                    "fileUrl": {
                        "type": "string",
                        "format": "uri",
                        "description": "Public HTTPS URL of the document. Must be publicly reachable: hosts that resolve to private, loopback, link-local or metadata addresses are refused with 422 (`The URL must be a public http(s) address.`)."
                    },
                    "fileType": {
                        "type": "string",
                        "enum": [
                            "doc",
                            "docx",
                            "rtf",
                            "dot",
                            "dotx",
                            "odt",
                            "odf",
                            "fodt",
                            "txt",
                            "info",
                            "pdf",
                            "xps",
                            "pdax",
                            "eps",
                            "xls",
                            "xlsx",
                            "ods",
                            "fods",
                            "csv",
                            "xlsm",
                            "xltx"
                        ],
[...]
